<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Manufacturer Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/balloons">Manufacturer Page</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item m-auto">
                    <a class="nav-link active" href="/balloons">Home</a>
                </li>
                <li class="nav-item m-auto">
                    <a class="nav-link active" href="/balloons">Balloons</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                           placeholder="Search...">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-secondary btn-number">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>
<div class="container mb-8" >
    <div >
        <div>
            <div >
                <h2>Manufacturer Names: </h2>
                <ul>
                        <li th:each="man : ${manufacturers}" >
                            <input type="radio" name="name" th:value="${man.getName()}">
                            <th:block th:text="${man.getName()}"/>

                            <div class="text-right" style="margin-right:800px;">
                                <form  th:action="@{'/manufacturer/delete/{id}' (id=${man.getId()})}"
                                       th:method="DELETE">
                                    <button type="submit" class="btn btn-sm btn-danger">
                                        <i class="fa fa-trash">Delete</i></button>
                                </form>
                                <form  th:action="@{'/manufacturer/edit-form/{id}' (id=${man.getId()})}">
                                    <button type="submit" class="btn btn-sm btn-info"><i class="fa fa-trash">Edit</i></button>
                                </form>
                            </div>
                        </li>
                </ul>
        <div class="col mb-3">
            <div class="row">
                <form  th:action="@{'/manufacturer/add-form'}">
                    <button type="submit" class="btn btn-sm btn-danger">
                        <i class="fa fa-trash">ADD</i></button>
                </form>
            </div>
        </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>